<div class="col-xs-12">

  <div class="jumbotron">
    <h1><%= ['hi', 'hello', 'welcome'].sample.capitalize %>!</h1>
    <p>Start managing your properties today with Rentals</p>
    <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a></p>
  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/img/sign.jpg" alt="...">
        <div class="caption text-center">
          <p>Create and manage properties</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/img/keys.jpg" alt="...">
        <div class="caption text-center">
          <p>Keep track of tenants</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/img/money.jpg" alt="...">
        <div class="caption text-center">
          <p>Monitor your income and expenses</p>
        </div>
      </div>
    </div>

  </div>

</div>
