
<div class="col-xs-12">

  <div class="jumbotron">
    <h1><%= ['hi', 'hello', 'welcome'].sample.capitalize %>!</h1>
    <p>Start managing your properties today with Rentals</p>
    <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a></p>
  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/img/sign.jpg" alt="...">
        <div class="caption text-center">
          <!-- <h3>Thumbnail label</h3> -->
          <p>Create and manage properties</p>
          <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/img/keys.jpg" alt="...">
        <div class="caption text-center">
          <!-- <h3>Thumbnail label</h3> -->
          <p>Keep track of tenants</p>
          <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/img/money.jpg" alt="...">
        <div class="caption text-center">
          <!-- <h3>Thumbnail label</h3> -->
          <p>Monitor your income and expenses</p>
          <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
        </div>
      </div>
    </div>


  </div>

</div>
